{% extends "nucs/layout.html" %}

{% block content %}

<div class="bg-light p-5 rounded">
    <h1>National University of Computer Studies</h1>
    <p class="lead">Blah blah blah</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <h2>Programs and Courses</h2>
        <p>
           Blah blah blah
        </p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News &amp; Updates</h2>
        <p>Blah blah blah</p>
        <p><a class="btn btn-secondary" href="#">Read &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events &amp; Calendar</h2>
        <p>Blah Blah Blah</p>
        <p><a class="btn btn-secondary" href="#">View &raquo;</a></p>
    </div>
</div>

{% endblock %}
